<div class="container">
    <div class="col-sm-2">
        <h2>计算机</h2>
        <h2><i>Computer</i></h2>
        <div class="list-group side-bar">
            <a href="#" class="list-group-item">汇编语言</a>
            <a href="#" class="list-group-item">前端开发</a>
            <a href="#" class="list-group-item">数据库</a>
            <a href="#" class="list-group-item">图像处理</a>
            <a href="#" class="list-group-item">办公软件</a>
        </div>
    </div>
    <div class="col-sm-7"></div>
    <div class="col-sm-3"></div>
</div>
