<div class="container">
    <div class="col-sm-2">
        <h2>科技</h2>
        <h2><i>Science</i></h2>
        <div class="list-group side-bar">
            <a href="#" class="list-group-item">科普著作</a>
            <a href="#" class="list-group-item">医学</a>
            <a href="#" class="list-group-item">工业</a>
            <a href="#" class="list-group-item">通信</a>
            <a href="#" class="list-group-item">农林</a>
        </div>
    </div>
    <div class="col-sm-7"></div>
    <div class="col-sm-3"></div>
</div>
