<div class="container">
    <!--左侧边栏-->
    <div class="col-sm-2">
        <h2>社会科学</h2>
        <h2><i>Social Science</i></h2>
        <div class="list-group side-bar">
            <a href="#" class="list-group-item">历史</a>
            <a href="#" class="list-group-item">哲学/宗教</a>
            <a href="#" class="list-group-item">法律</a>
            <a href="#" class="list-group-item">心理学</a>
            <a href="#" class="list-group-item">国学</a>
            <a href="#" class="list-group-item">政治</a>
        </div>
    </div>
    <!--页面主体内容显示区域-->
    <div class="col-sm-7">
        <h1>页面主体内容显示区域</h1>
        <section>
            花店旁边是奶茶店，长长的遮阳棚下可以容纳更多的桌椅，当然也占了大半的走道，但是也没有行人对此有意见，毕竟在桌上的不是乌烟瘴气的你来我往，而是不同容器装载的鲜花，仿佛这片范围内理所当然地是个小花园，大家都善意避让。

            最外桌上是个人力板车造型的藤织手工品，深黄交织在一起的花瓶造型，插的是长串的水仙，深入瓶底的枝杆跟只面向马路方向站直的花形成小杠杆，随着行人路过带起的风轻轻摇头。

            不管是谁围坐在桌旁也赚不到它回过头，只有不时地摇头拒绝，不是不是～不是你们～或许是很想跟它对视，把小板车扭了个回头，傲娇的小杠杆也就顺着瓶口滴溜溜转了个180度，自顾自地看向马路，只好轻轻放回原处。
            时间来到傍晚，人行道冷清了很多，没有人来人往它也不再摇头，也没人选择这个突出的位置，除非疲于一天工作的漫不经心者，那些选择不靠近喧闹又不远离的人群。没有注意到它一点，它也不作任何表示，直到拿到打包的食物走上人行道，忽而对视了一眼，微风也同时起伏，便有了决定。
            只想记录一些小美好
        </section>
    </div>
    <!--右侧边栏热门推荐/排行/广告区-->
    <div class="col-sm-3">
        <h4>文学作品畅销排行榜</h4>
        <h4>阅读推荐专栏</h4>
    </div>
</div>