<div class="container">
    <!--左侧边栏-->
    <div class="col-sm-2">
        <h2>社会科学</h2>
        <h2><i>Social Science</i></h2>
        <div class="list-group side-bar">
            <a ui-sref="Social science.history" class="list-group-item">历史</a>
            <a ui-sref="Social science.philosophy" class="list-group-item">哲学/宗教</a>
            <a ui-sref="Social science.law" class="list-group-item">法律</a>
            <a ui-sref="Social science.psychology" class="list-group-item">心理学</a>
            <a ui-sref="Social science.Sinology" class="list-group-item">国学</a>
            <a ui-sref="Social science.political" class="list-group-item">政治</a>
        </div>
    </div>
    <!--页面主体内容显示区域-->
    <div class="col-sm-7">
        <h1>页面主体内容显示区域</h1>
        <section>
            <p>页面内容显示区域</p>
            <p>页面内容显示区域</p>
            <p>页面内容显示区域</p>
            <p>页面内容显示区域</p>
            <p>页面内容显示区域</p>
            <p>页面内容显示区域</p>
        </section>
        <div ui-view=""></div>
    </div>
    <!--右侧边栏热门推荐/排行/广告区-->
    <div class="col-sm-3">
        <h4>文学作品畅销排行榜</h4>
        <h4>阅读推荐专栏</h4>
    </div>
</div>