<div class="container container-small">
    <h1>登录
        <small>没有账号？
            <a ui-sref="signup">立即注册</a>
        </small>
    </h1>
    <form>
        <div class="form-group">
            <label for="username">用户名/邮箱</label>
            <input type="text" class="form-control" id="username"/>
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password"/>
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-block" type="submit">登录</button>
        </div>
        <div class="form-group">
            <a href="#">忘记密码？</a>
        </div>
    </form>
</div>